<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>{notempty name="username"}{$username}--{/notempty}金立品教育祝你生日快乐</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"> 
        <link rel="stylesheet" href="__BIRTHDAY__/07/css/index.css">
    </head>
    <body>
        <embed src="__BIRTHDAY__/07/music/2902191870.mp3" hidden="true" autostart="true" type="audio/mp3" loop="loop">
        <div id="container">
            <div class="section" id="section0">
                <img src="__BIRTHDAY__/07/images/bj1-new.png" alt="">
                <img src="__BIRTHDAY__/07/images/logo.png" class="i1_1" alt="">
                <img src="__BIRTHDAY__/07/images/quet.png" class="i1_2" alt="">
                <img src="__BIRTHDAY__/07/images/Happy Birthday.png" class="i1_3" alt="">
                <img src="__BIRTHDAY__/07/images/leaf.png" class="i1_4" alt="">
                <img src="__BIRTHDAY__/07/images/leafall.png" class="i1_5" alt="">
                <img src="__BIRTHDAY__/07/images/zhiliao_big.png" class="i1_6" alt="">
                <img src="__BIRTHDAY__/07/images/zhiliao_small.png" class="i1_7" alt="">
                <img src="__BIRTHDAY__/07/images/tree.gif" class="i1_8" alt="">
                <img src="__BIRTHDAY__/07/images/leafbig1.png" class="i1_9" alt="">
                <img src="__BIRTHDAY__/07/images/leafbig2.png" class="i1_10" alt="">
                <img src="__BIRTHDAY__/07/images/up_btn.png" class="i1_11" alt="">
            </div>
            <div class="section" id="section1">
                <img src="__BIRTHDAY__/07/images/bj2-new.png" alt="">
                <img src="__BIRTHDAY__/07/images/logo.png" class="i2_1" alt="">
                <img src="__BIRTHDAY__/07/images/quet.png" class="i2_2" alt="">
                <img src="__BIRTHDAY__/07/images/yun_left.png" class="i2_3" alt="">
                <img src="__BIRTHDAY__/07/images/yun_right.png" class="i2_4" alt="">
                <div class="i2_5">
                    <p class="p_title">亲爱的<span>{notempty name="username"}{$username}{/notempty}</span>：</p>
                    <p class="p_cont cont1">在这特别的日子里，金立品教育全体员工为您送上最真挚的祝福，祝您生日快乐，期望您每一天醒来，都是不一样的人生色彩！</p>
                    <p class="p_cont cont2">同时感谢您对金立品的信任也感谢您过去对金立品教育的支持与厚爱，未来的日子，我们会不负众望，砥砺前行。</p>
                    <p class="p_time time1" style="text-align: right">{$producers}</p>
                    <p class="p_time time2" style="text-align: right">{$date}</p>
                </div>
                <img src="__BIRTHDAY__/07/images/zhiliao_small.png" class="i2_6" alt="">
                <img src="__BIRTHDAY__/07/images/keg.png" class="i2_7" alt="">
                <img src="__BIRTHDAY__/07/images/leafdown.png" class="i2_8" alt="">
                <img src="__BIRTHDAY__/07/images/tree.gif" class="i2_9" alt="">
                <img src="__BIRTHDAY__/07/images/leafbig1.png" class="i2_10" alt="">
                <img src="__BIRTHDAY__/07/images/leafbig1.png" class="i2_11" alt="">
                <img src="__BIRTHDAY__/07/images/up_btn.png" class="i2_12" alt="">
            </div>
            <div class="section" id="section2">
                <img src="__BIRTHDAY__/07/images/bj3-new.png" alt="">
                <img src="__BIRTHDAY__/07/images/logo.png" class="i3_5" alt="">
                <img src="__BIRTHDAY__/07/images/kapian.png" class="i3_1" alt="">
                <img src="__BIRTHDAY__/07/images/zhiliao_small.png" class="i3_2" alt="">
                <img src="__BIRTHDAY__/07/images/tree.gif" class="i3_9" alt="">
                <div class="a222"></div>
            </div>
        </div>
    </body>
    <script src="__BIRTHDAY__/07/js/jqueary.js"></script>
    <script src="__BIRTHDAY__/07/js/controller.js"></script>
</html>