<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all" />
    <link rel="stylesheet" href="__CSS__/admin.css"  media="all">
    <style type="text/css">

        /* tooltip */
        #tooltip{
            position:absolute;
            border:1px solid #ccc;
            background:#333;
            padding:2px;
            display:none;
            color:#fff;
        }
    </style>
</head>
<body style="padding:10px;">
<div class="tplay-body-div">
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">生日贺卡信息表</li>
            <li><a href="{:url('admin/birthday/birthday_add')}" class="a_menu">新增生日贺卡</a></li>
        </ul>
    </div>

    <table class="layui-table" lay-size="sm">
        <colgroup>
            <col width="50">
            <col width="80">
            <col width="80">
            <col width="200">
            <col width="100">
            <col width="100">
        </colgroup>
        <thead>
        <tr>
            <th>ID</th>
            <th>会员昵称</th>
            <th>生日时间</th>
            <th>合成访问链接</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            {volist name="$birthday_datas" id="vo"}
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.username}</td>
                <td>{$vo.birthday_time}</td>
                <!-- <td><a href="{$domain}/{$vo.composite}" target="_blank">{$domain}/{$vo.composite}</a></td> -->
                <td class="click_qr">{$domain}{$vo.composite}</td>
                <td>{$vo.create_time}</td>
                <td class="operation-menu">
                    <div class="layui-btn-group">
                        <a href="{:url('birthday/birthday_edit',['id'=>$vo.id])}" class="layui-btn layui-btn-xs a_menu layui-btn-primary" id="{$vo.id}" style="margin-right: 0;font-size:12px;"><i class="layui-icon"></i></a>
                        <a class="layui-btn layui-btn-xs layui-btn-primary delete" id="{$vo.id}" style="margin-right: 0;font-size:12px;"><i class="layui-icon"></i></a>
                    </div>
                </td>
            </tr>
            {/volist}

        </tbody>
    </table>
    <div style="padding:0 20px;">{$datas->render()}</div>

    {include file="public/foot"}
    
    <script type='text/javascript' src='http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js'></script>
    <script type="text/javascript" src="http://cdn.staticfile.org/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
    <script type="text/javascript">
        // layui 弹窗显示二维码 
        layui.use('layer', function(){
            var layer = layui.layer;
            // 链接点击弹出二维码
            $('.click_qr').click(function(){
                // 弹出框
                layer.open({
                    title: '扫描二维码访问'
                    ,content: "<div id='qrcode' style='width:100px;height:100px;margin:0 auto;'></div>"
                });
                // 清空现有二维码
                $('#qrcode').empty();
                // 获取当前链接地址
                var url = $(this).text();
                // 生成二维码
                $("#qrcode").qrcode({
                    width:100,
                    height:100,
                    text:url
                });
            });
        });              



        $('.delete').click(function(){
            var id = $(this).attr('id');
            layer.confirm('确定要删除?', function(index) {
                $.ajax({
                    url:"{:url('admin/birthday/birthday_del')}",
                    data:{id:id},
                    success:function(res) {
                        // {"errorcode":"0","message":"\u5220\u9664\u6210\u529f"}

                        var res = JSON.parse(res);
                        layer.msg(res.message);

                        if(res.errorcode == 0) {
                            setTimeout(function(){
                                window.location.reload()
                            },1500)
                        }
                    }
                })
            })
        })
    </script>
</div>
</body>
</html>
