<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>ACCA学习资料领取</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"> 
        <!-- <link rel="stylesheet" href="css/pc.css"> -->
        <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
        <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all" />
        <script src="__JS__/jquery.min.js"></script>
        <script src="__JS__/register/public.js"></script>
    </head>
    <body>
        <div id="jqContent">
            <div class="box">
                <div class="survey">
                    <div class="surveyhead">
                        <h1>ACCA学习资料领取</h1>
                        <p>温馨提示：您提交信息之后，将自动跳转页面获取百度云盘链接，自行下载即可。</p>
                        <p>*隐私申明：个人信息仅用于本测试，我们在未征得您事先同意的情况下，不会向第三方提供或泄露您的任何个人信息。</p>
                    </div>
                    <div class="surveycontent">
                        <div class="ziliao_img">
                            <img src="__IMG__/register/01.jpg" alt="">
                            <img src="__IMG__/register/02.jpg" alt="">
                            <img src="__IMG__/register/03.jpg" alt="">
                        </div>
                        <div class="div_question" id="div1">
                            <div id="divTitle1" class="div_title_question"> 1. 姓名：<span class="req">*</span></div>
                            <div class="div_table_radio_question" id="divquestion1">
                                <input class="inputtext" type="text" >
                                <div style="clear:both;"></div>
                            </div>
                            <div class="errormsg">请输入内容</div>
                        </div>
                        <div class="div_question" id="div2">
                            <div id="divTitle2" class="div_title_question"> 2.你的手机号：<span class="req">*</span></div>
                            <div class="div_table_radio_question" id="divquestion2">
                                <input class="inputtext" type="text" >
                                <div style="clear:both;"></div>
                            </div>
                            <div class="errormsg">请输入内容</div>
                        </div>
                        <div class="div_question" id="div3">
                            <div id="divTitle3" class="div_title_question"> 3.邮箱地址：<span class="req">*</span></div>
                            <div class="div_table_radio_question" id="divquestion3">
                                <input class="inputtext" type="text" >
                                <div style="clear:both;"></div>
                            </div>
                            <div class="errormsg">请输入内容</div>
                        </div>
                        <div class="div_question" id="div4">
                            <div id="divTitle4" class="div_title_question"> 4.微信号：<span class="req">*</span></div>
                            <div class="div_table_radio_question" id="divquestion4">
                                <input class="inputtext" type="text" >
                                <div style="clear:both;"></div>
                            </div>
                            <div class="errormsg">请输入内容</div>
                        </div>
                    </div>
                    <div class="sub_btn">
                        <input type="button" class="submitbutton" value="提交" id="submit_button">
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="__PUBLIC__/layui/layui.js"></script>
    <script src="__PUBLIC__/jquery/jquery.min.js"></script>
    <script>

        $(document).ready(function(){
            // 进入页面时间戳
            var timestamp = Date.parse(new Date()) / 1000;
            console.log(timestamp);

            // 提交设备
            var equipment = '';
            var system = { 
                 win: false,
                 mac: false,
                 xll: false,
                 ipad: false
            };
            var p = navigator.platform;
             system.win = p.indexOf("Win") == 0;
             system.mac = p.indexOf("Mac") == 0;
             system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
             system.ipad = (navigator.userAgent.match(/iPad/i) != null) ? true : false;
             if (system.win || system.mac || system.xll || system.ipad) {
                 equipment = 'PC';
             } else {  
                 var ua = navigator.userAgent.toLowerCase();  
                 if(ua.match(/MicroMessenger/i)=="micromessenger") {  
                     equipment = '微信浏览器';
                 } else {  
                     equipment = '手机';
                 }  
             }
            console.log(equipment);
        
        // 单选动图切换
        $(".ulradiocheck li").click(function(){
            let i = $(this).index();//下标第一种写法
            $(this).children("a").addClass("jqChecked");
            $(this).siblings("li").children("a").removeClass("jqChecked");
        });
        
        
        // 单选动图切换
        $(".ulradiocheck li").click(function(){
            let i = $(this).index();//下标第一种写法
            $(this).children("a").addClass("jqChecked");
            $(this).siblings("li").children("a").removeClass("jqChecked");
        });


        $(".submitbutton").click(function(){
            let name = $("#divquestion1 input").val();
            let phone = $("#divquestion2 input").val();
            let email = $("#divquestion3 input").val();
            let wx = $("#divquestion4 input").val();
            if(name == "" || name == undefined || phone == "" || phone == undefined || email == "" || email == undefined || wx == "" || wx == undefined){
                // alert("请确保所有必要信息都填写完整！")
                if(name == "" || name == undefined){
                    $("#div1").addClass("border");
                    $("#div1 .errormsg").show();
                }else{
                    $("#div1").removeClass("border");
                    $("#div1 .errormsg").hide();
                }
                if(phone == "" || phone == undefined){
                    $("#div2").addClass("border");
                    $("#div2 .errormsg").show();
                }else{
                    $("#div2").removeClass("border");
                    $("#div2 .errormsg").hide();
                }
                if(email == "" || email == undefined){
                    $("#div3").addClass("border");
                    $("#div3 .errormsg").show();
                }else{
                    $("#div3").removeClass("border");
                    $("#div3 .errormsg").hide();
                }
                if(wx == "" || wx == undefined){
                    $("#div4").addClass("border");
                    $("#div4 .errormsg").show();
                }else{
                    $("#div4").removeClass("border");
                    $("#div4 .errormsg").hide();
                }
                    return;
            }else{
                $(".div_question").removeClass("border");
                $(".div_question .errormsg").hide();
            }

            layui.use(['layer', 'form'], function(){
                var layer = layui.layer
                    ,form = layui.form;

                if(!(/^1[3456789]\d{9}$/.test(phone))){
                    layer.msg('手机号码有误, 请重填');
                    return false;
                } else {
                    $.ajax({
                        type: 'POST',
                        url: '__HREF__/notice/register/question_save',
                        data: 'question_name_01='+name+'&question_name_02='+phone+'&question_name_03='+email+'&question_name_04='+wx+'&question_source={$question.question_title}&question_id=question_0{$question.id}&init_timestamp='+timestamp+'&equipment='+equipment,
                        dataType: 'json',
                        success: function(res){
                            var res = JSON.parse(res);
                            layer.msg(res.message);

                            if(res.errorcode == 0) {
                                setTimeout(function(){
                                    window.location.href = '__HREF__/notice/register/question_form?question_form=success&question_id=2';
                                },1500)
                            }
                        },
                    });
                }

            });

        });
    });
    </script>
</html>