<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>管理会计师CMA报考条件快速测试通道</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"> 
        <!-- <link rel="stylesheet" href="css/pc.css"> -->
        <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
        <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all" />
        <script src="__JS__/jquery.min.js"></script>
        <script src="__JS__/register/public.js"></script>
    </head>
    <body>
        <div id="jqContent">
            <div class="box">
                <div class="survey">
                    <div class="surveyhead">
                        <h1 style="font-size: 17px;">管理会计师CMA报考条件快速测试通道</h1>
                        <p>
                            美国注册管理会计师简称"CMA"，它是目前全球管理会计及财务管理领域最权威的资格认证。在全球120个国家、200家地方分会中拥有超过68,000名会员，
                            在中国的会员数超过10000名。拥有CMA，不仅代表其具备完整会计及财务相关领域知识，也表明了具备高度专业能力来分析企业内部经营状况、协助管理当局、
                            参与集团财务管理、拟定未来策略、执行流程优化工作等。
                        </p>
                    </div>
                    <div class="surveycontent">
                        <div class="div_question" id="div1">
                            <div id="divTitle1" class="div_title_question"> 1. 姓名：<span class="req">*</span></div>
                            <div class="div_table_radio_question" id="divquestion1">
                                <input class="inputtext" type="text" >
                                <div style="clear:both;"></div>
                            </div>
                            <div class="errormsg">请输入内容</div>
                        </div>
                        <div class="div_question" id="div2">
                            <div id="divTitle2" class="div_title_question">2. 最高学历<span class="req">*</span></div>
                            <div class="div_table_radio_question" id="divquestion2">
                                <ul class="ulradiocheck">
                                    <li>
                                        <a href="javascript:" class="jqRadio" rel="q1_1"></a>
                                        <input type="radio" name="q1" id="q1_1" value="中专">
                                        <label for="q1_1">中专</label>
                                    </li>
                                    <li>
                                        <a href="javascript:" class="jqRadio" rel="q1_2"></a>
                                        <input type="radio" name="q1" id="q1_2" value="大专">
                                        <label for="q1_2">大专</label>
                                    </li>
                                    <li>
                                        <a href="javascript:" class="jqRadio" rel="q1_3"></a>
                                        <input type="radio" name="q1" id="q1_3" value="本科">
                                        <label for="q1_3">本科</label>
                                    </li>
                                    <li>
                                        <a href="javascript:" class="jqRadio" rel="q1_4"></a>
                                        <input type="radio" name="q1" id="q1_4" value="研究生">
                                        <label for="q1_4">研究生</label>
                                    </li>
                                </ul>
                                <div style="clear:both;"></div>
                            </div>
                            <div class="errormsg">请选择选项</div>
                        </div>
                        <div class="div_question" id="div3">
                            <div id="divTitle3" class="div_title_question"> 3. 工作年限：<span class="req">*</span></div>
                            <div class="div_table_radio_question" id="divquestion3">
                                <ul class="ulradiocheck">
                                    <li>
                                        <a href="javascript:" class="jqRadio" rel="q2_1"></a>
                                        <input type="radio" name="q2" id="q2_1" value="大学在读">
                                        <label for="q2_1">大学在读</label>
                                    </li>
                                    <li>
                                        <a href="javascript:" class="jqRadio" rel="q2_2"></a>
                                        <input type="radio" name="q2" id="q2_2" value="1-3年">
                                        <label for="q2_2">1-3年</label>
                                    </li>
                                    <li>
                                        <a href="javascript:" class="jqRadio" rel="q2_3"></a>
                                        <input type="radio" name="q2" id="q2_3" value="3-5年">
                                        <label for="q2_3">3-5年</label>
                                    </li>
                                    <li>
                                        <a href="javascript:" class="jqRadio" rel="q2_4"></a>
                                        <input type="radio" name="q2" id="q2_4" value="5-10年">
                                        <label for="q2_4">5-10年</label>
                                    </li>
                                    <li>
                                        <a href="javascript:" class="jqRadio" rel="q2_5"></a>
                                        <input type="radio" name="q2" id="q2_5" value="10年以上">
                                        <label for="q2_5">10年以上</label>
                                    </li>
                                </ul>
                                <div style="clear:both;"></div>
                            </div>
                            <div class="errormsg">请选择选项</div>
                        </div>
                        <div class="div_question" id="div4">
                            <div id="divTitle4" class="div_title_question"> 4. 所获职称：</div>
                            <div class="div_table_radio_question" id="divquestion4">
                                <input class="inputtext" type="text" >
                                <div style="clear:both;"></div>
                            </div>
                            <div class="errormsg">请输入内容</div>
                        </div>
                        <div class="div_question" id="div5">
                            <div id="divTitle5" class="div_title_question"> 5. 手机号码：<span class="req">*</span></div>
                            <div class="div_table_radio_question" id="divquestion5">
                                <input class="inputtext" type="text" >
                                <div style="clear:both;"></div>
                            </div>
                            <div class="errormsg">请输入内容</div>
                        </div>
                        <div class="div_question" id="div6">
                            <div id="divTitle6" class="div_title_question"> 6. 常用邮箱：<span class="req">*</span></div>
                            <div class="div_table_radio_question" id="divquestion6">
                                <input class="inputtext" type="text" >
                                <div style="clear:both;"></div>
                            </div>
                            <div class="errormsg">请输入内容</div>
                        </div>
                    </div>
                    <div class="sub_btn">
                        <input type="button" class="submitbutton" value="提交" id="submit_button">
                    </div>
                    <div class="conceal">
                        <p>温馨提示：您提交信息之后，认证部老师将会在1个工作日内将结果发送给您，为确保结果准确，请如实填写。</p>
                        <p>*隐私申明：个人信息仅用于本测试，我们在未征得您事先同意的情况下，不会向第三方提供或泄露您的任何个人信息。</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="__PUBLIC__/layui/layui.js"></script>
    <script src="__PUBLIC__/jquery/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            // 进入页面时间戳
            var timestamp = Date.parse(new Date()) / 1000;
            console.log(timestamp);

            // 提交设备
            var equipment = '';
            var system = { 
                 win: false,
                 mac: false,
                 xll: false,
                 ipad: false
            };
            var p = navigator.platform;
             system.win = p.indexOf("Win") == 0;
             system.mac = p.indexOf("Mac") == 0;
             system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
             system.ipad = (navigator.userAgent.match(/iPad/i) != null) ? true : false;
             if (system.win || system.mac || system.xll || system.ipad) {
                 equipment = 'PC';
             } else {  
                 var ua = navigator.userAgent.toLowerCase();  
                 if(ua.match(/MicroMessenger/i)=="micromessenger") {  
                     equipment = '微信浏览器';
                 } else {  
                     equipment = '手机';
                 }  
             }
            console.log(equipment);

            // 单选动图切换
            $(".ulradiocheck li").click(function(){
                let i = $(this).index();//下标第一种写法
                $(this).children("a").addClass("jqChecked");
                $(this).siblings("li").children("a").removeClass("jqChecked");
            });

            // 点击提交
            $(".submitbutton").click(function(){
                let name = $("#divquestion1 input").val();
                let school = "";
                let findschool = $("#divquestion2 ul li");
                for(i=0;i<findschool.length;i++){
                    if(findschool[i].firstElementChild.className == "jqRadio jqChecked"){
                        school = findschool[i].children[1].value;
                    }
                }
                let year = "";
                let findyear = $("#divquestion3 ul li");
                for(i=0;i<findyear.length;i++){
                    if(findyear[i].firstElementChild.className == "jqRadio jqChecked"){
                        year = findyear[i].children[1].value;
                    }
                }
                let position = $("#divquestion4 input").val();
                let phone = $("#divquestion5 input").val();
                let email = $("#divquestion6 input").val();
                console.log(school,year,position,name,phone,email);
                if(school == "" || school == undefined || year == "" || year == undefined || name == "" || name == undefined
                || phone == "" || phone == undefined || email == "" || email == undefined){
                    // alert("请确保所有必要信息都填写完整！")
                    if(name == "" || name == undefined){
                        $("#div1").addClass("border");
                        $("#div1 .errormsg").show();
                    }else{
                        $("#div1").removeClass("border");
                        $("#div1 .errormsg").hide();
                    }
                    if(school == "" || school == undefined){
                        $("#div2").addClass("border");
                        $("#div2 .errormsg").show();
                    }else{
                        $("#div2").removeClass("border");
                        $("#div2 .errormsg").hide();
                    }
                    if(year == "" || year == undefined){
                        $("#div3").addClass("border");
                        $("#div3 .errormsg").show();
                    }else{
                        $("#div3").removeClass("border");
                        $("#div3 .errormsg").hide();
                    }
                    if(phone == "" || phone == undefined){
                        $("#div5").addClass("border");
                        $("#div5 .errormsg").show();
                    }else{
                        $("#div5").removeClass("border");
                        $("#div5 .errormsg").hide();
                    }
                    if(email == "" || email == undefined){
                        $("#div6").addClass("border");
                        $("#div6 .errormsg").show();
                    }else{
                        $("#div6").removeClass("border");
                        $("#div6 .errormsg").hide();
                    }
                    return;
                }else{
                    $(".div_question").removeClass("border");
                    $(".div_question .errormsg").hide();
                }



                layui.use(['layer', 'form'], function(){
                    var layer = layui.layer
                        ,form = layui.form;
                    if(!(/^1[3456789]\d{9}$/.test(phone))){
                        layer.msg('手机号码有误, 请重填');
                        return false;
                    } else {
                        $.ajax({
                            type: 'POST',
                            url: '__HREF__/notice/register/question_save',
                            data: 'question_name_01=' + name + '&question_name_02=' + school + '&question_name_03=' + year + '&question_name_04=' + position + '&question_name_05=' + phone + '&question_name_06=' + email + '&question_source={$question.question_title}&question_id=question_0{$question.id}&init_timestamp=' + timestamp + '&equipment=' + equipment,
                            // dataType: 'json',
                            async: true,
                            success: function (res) {
                                var res = JSON.parse(res);
                                layer.msg(res.message);

                                if (res.errorcode == 0) {
                                    setTimeout(function () {
                                        window.location.href = '__HREF__/notice/register/question_form?question_form=success&question_id=3';
                                    }, 1500)
                                }
                            }
                        });
                    }

                });

            });
        });
    </script>
</html>