<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all" />
    <link rel="stylesheet" href="__CSS__/admin.css"  media="all">
    <style type="text/css">

        /* tooltip */
        #tooltip{
            position:absolute;
            border:1px solid #ccc;
            background:#333;
            padding:2px;
            display:none;
            color:#fff;
        }
        .top_button{
            float:right;
        }
    </style>
</head>
<body style="padding:10px;">
<div class="tplay-body-div">
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">{$question.question_title}</li>
            <li><a href="{:url('admin/register/question_answer_add?question_id='.$question.id)}" class="a_menu">新增报名信息</a></li>
            <a href="{:url('admin/register/export_answer_datas?question_id='.$question.id)}" class="a_menu"><button type="button" class="layui-btn top_button" title="导出所有数据">导出Excel</button></a>
        </ul>
    </div>

    <table class="layui-table" lay-size="sm">
        <colgroup>
            <col width="50">
            {volist name="answer_datas" id="vo"}
            <col width="100">
            {/volist}
            <col width="150">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="100">
        </colgroup>
        <thead>
        <tr>
            <th>ID</th>
            {volist name="answer_datas" id="vo"}
            <th>{$vo}</th>
            {/volist}
            <th>提交时间</th>
            <th>所用时间</th>
            <th>来源</th>
            <th>来自ip</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="$AnswerDatas" id="vo"}
        <tr>
            <td>{$vo.id}</td>
            {volist name="$vo.answer_datas" id="answer"}
            <th>{$answer['value']}</th>
            {/volist}
            <td>{$vo.create_time}</td>
            <td>{$vo.total_time}秒</td>
            <td>{$vo.equipment}</td>
            <td>{$vo.ip}</td>
            <td class="operation-menu">
                <div class="layui-btn-group">
                    <a href="{:url('register/question_answer_edit',['answer_id'=>$vo.id, 'question_id' => $question.id])}" class="layui-btn layui-btn-xs a_menu layui-btn-primary" id="{$vo.id}" style="margin-right: 0;font-size:12px;"><i class="layui-icon"></i></a>
                    <a class="layui-btn layui-btn-xs layui-btn-primary delete" id="{$vo.id}" style="margin-right: 0;font-size:12px;"><i class="layui-icon"></i></a>
                </div>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div style="padding:0 20px;">{$datas->render()}</div>

    {include file="public/foot"}

    <script type="text/javascript">

        $('.delete').click(function(){
            var id = $(this).attr('id');
            layer.confirm('确定要删除?', function(index) {
                $.ajax({
                    url:"{:url('admin/register/question_answer_del')}",
                    data:{id:id},
                    success:function(res) {

                        var res = JSON.parse(res);
                        layer.msg(res.message);

                        if(res.errorcode == 0) {
                            setTimeout(function(){
                                window.location.reload()
                            },1500)
                        }
                        
                    }
                })
            })
        })
    </script>
</div>
</body>
</html>
